*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 1.5rem;
    font-family: Arial, sans-serif;
}

.header{
    margin-top: 1rem;
    text-align: center;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    color: white;
  }
  
  .add-btn {
    background: white;
    color: red;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: none;
    font-size: 24px;
    position: relative;
    bottom: 4px;
  }

  
  .bottombtn{
    background-color: red;
    border: none;
    cursor: pointer;
  }

  .bottom-nav i{
    color: white;
    font-size: 1.4rem;
  }


.settingsContainer{
    margin-top: 1.5rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.setting{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    background-color: rgb(227, 226, 226);
    color: rgb(50, 49, 49);
    border-radius: 20px;
    gap: 4rem;
    cursor: pointer;
}

.setting h2{
    font-size: 1rem;
    text-align: center;
}

.setting i{
    font-size: 2rem;
    font-weight: bolder;
}